<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiar pb-0">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- <h1>Analizador de Conversaciones</h1> -->
  <span></span>
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
    
        <div class="dropdown">
          <a type="button" data-bs-toggle="dropdown"
            class="dropdown-toggle"
            data-bs-display="static"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <router-outlet />
