<div class="row mt-5">
    <div class="col-8">
        <div class="row">
            <div class="col">
                <label for="">Tipología</label>
                <app-select></app-select>
            </div>
            <div class="col">
                <label for="">Flujo</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Fecha inicial</label>
                <app-select></app-select>
            </div>
            <div class="col">
                <label for="">Fecha inicial</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Tamaño de Request</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Descripción de Request</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Usuario</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button>Crear request</button>
                <button>Volver a inicio</button>
            </div>
        </div>
    </div>

</div>