<div class="row">
    <div class="col-8">
        <div class="row mb-5">
            <div class="col">
                <h1>{{title }}</h1>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Descripción de Análisi</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Flujo</label>
                <app-select></app-select>
            </div>
            <div class="col">
                <label for="">Fecha inicial</label>
                <app-select></app-select>
            </div>
            <div class="col">
                <label for="">Fecha Fianl</label>
                <app-select></app-select>
            </div>
            <div class="col">
                <label for="">Usuario</label>
                <app-select></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button>Crear request</button>
                <button>Volver a inicio</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Ingresar promt</label>
                <app-select></app-select>
            </div>
                <div class="col">
                    <button>Crear request</button>
                    <button>Volver a inicio</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Gpt response</label>
                <app-select></app-select>
            </div>
        </div>

    </div>

</div>